# GCP Project ID (requis)
GCP_PROJECT_ID=jailu-prod

# Environnement : development | production
ENVIRONMENT=development

VERSION=0.1.0
PORT=8000

# Clé Google Books API (en dev uniquement — en prod chargée depuis Secret Manager)
GOOGLE_BOOKS_API_KEY=
